[submodule "stockfishjs-repo"]
	path = stockfishjs-repo
	url = https://github.com/nmrugg/stockfish.js
[submodule "chessboardjs-repo"]
	path = chessboardjs-repo
	url = https://github.com/oakmac/chessboardjs
[submodule "chessjs-repo"]
	path = chessjs-repo
	url = https://github.com/jhlywa/chess.js
