html {
    background-color: #000;
}
body {
    background-color: #000;
    padding: 4px;
    margin: 0;
    color: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#top-preview-container {
    position: absolute;
    top: 8px;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
}
#campreview-edge-container, #camcrop, #calcdetect, #finaldetect {
    width: 100px;
    height: 100px;
    border: 1px solid #333;
    display: inline-block;
    text-align: left;
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
}
#campreview-edge-container, #campreview-edge-container * {
    width: 100px;
    height: 100px;
}
#campreview-edge-container * {
    position: absolute;
}
#campreviewfeed {
}
#edgedetect {
    opacity: 0.5;
}


#calcdetect *, #finaldetect * {
    width: 100%;
    height: 12.5%;
    display: inline-block;
}

#calcdetect * *, #finaldetect * * {
    width: calc(12.5% - 2px);
    height: calc(100% - 2px);
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    line-height: calc(100% - 2px);
    margin: 0;
    font-family: sans-serif;
    font-size: 7px;
    font-weight: 700;
}


#board {
    display: inline-block;
    position: absolute;
    bottom: 4px;
    left: 4px;
    width: 150px;
}

#robotsignal {
    display: inline-block;
    position: absolute;
    bottom: 4px;
    left: calc(50% - 100px);
    background-color: #f003;
    border: 1px solid red;
    width: 200px;
    height: 150px;
    z-index: 999;
}

#button-container {
    display: inline-block;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    position: absolute;
    bottom: 4px;
    right: 4px;
    width: 170px;
    text-align: center;
}

#statustext {
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    position: absolute;
    padding: 0;
    margin: 0;
    top: calc(50% - 48px);
    left: 0;
    right: 0;
    background-color: #0008;
    z-index: 9998;
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
}

#movelist {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 172px;
    overflow: hidden;
    padding: 4px;
    padding-left: 30px;
    margin: 4px;
    color: #fff;
    font-size: 12px;
    z-index: 9999;
}

#evalbar {
    display: inline-block;
    position: absolute;
    top: 24px;
    bottom: 172px;
    right: 4px;
    background-color: #ddd;
    border: 1px solid #333;
    width: 10px;
    z-index: 9999;
}

#evalbar-inner {
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 50%;
    width: 100%;
    background-color: #555;
    transition: height 1s;
}

#evalbar-desc {
    display: inline-block;
    position: absolute;
    top: 4px;
    right: 4px;
    font-size: 12px;
}

#progressbar {
    display: inline-block;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    background-color: #555;
    height: 4px;
    z-index: 9997;
}
#progressbar-inner {
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 50%;
    background-color: #08f;
    transition: width 500ms ease-in-out;
}

sup, sub {
    font-size: 70% !important;
}

button {
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    background-color: #aaa;
    color: #000;
    padding: 2px;
    margin: 2px;
    height: 44px;
    width: 80px;
    cursor: pointer;
    appearance: none;
    border: none;
    border-radius: 2px;
    -webkit-appearance: none;
    transition: all 0.2s ease-in-out;
}
button:active {
    background-color: #888;
    color: #fff;
}
button.active {
    background-color: #fff;
    color: #222;
}

.hidden {
    visibility: hidden !important;
}

#landscape-mode-hint {
    display: inline-block;
    position: absolute;
    text-align: center;
    font-size: 24px;
    bottom: 4px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.9;
    padding: 32px;
    width: calc(100% - 64px);
    height: calc(100% - 64px);
    background-color: black;
    z-index: 99999;
}
@media (min-width: 512px) {
    #landscape-mode-hint {
        display: none;
    }
}
